
<%- include("header") %>
<h1>This is about page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, soluta laudantium dolore sapiente, at, sequi officiis voluptate fuga saepe exercitationem qui cum voluptates quisquam!
</p>
<%- include("footer") %>